.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.logo {
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
}

.btn {
    background-color: #4E47FF;
    height: 48px;
    width: 132px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #FFFFFF;
    font-weight: bold;
}

.btn2 {
    width: 229px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    padding: 50px;
}

.btn:hover {
    background-color: #0a06d4;
}

.focus {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.hero {
    background-image: url(Assets/Hero-bg.png);
    background-size: cover;
    margin: 0%;
    padding-bottom: 200px;
    background-color: #ccccfd;
}

.pic {
    width: 403px;
    height: 328px;
    border: none;
    border-radius: 48px;
}

.action {
    display: flex;
    justify-content: space-between;
    margin: 0px 160px 300px 160px;

    padding-top: 200px;
}

.seeit {
    margin-top: 60px;
}

.explore {
    margin-top: 30px;
    margin-bottom: 30px;
}

.three {
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
}

.user {
    background-color: #bbb9fa;
    border-radius: 24px;
    margin-left: 90px;
    margin-right: 90px;
    /* margin-top: 100px;
    margin-bottom: 100px; */
    padding: 80px;
}

.getintouch {
    display: flex;
    justify-content: space-evenly;
    margin-top: 300px;
    gap: 30px;
}

.form input[type="text"],
.form input[type="email"] {
    width: 497px;
    height: 70px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px
}

.form textarea {
    border: none;
    margin-top: 15px;
    border-radius: 10px;
}

.touch {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 200px;
}

.in {
    margin-top: 105px;
}

.footer1 {
    padding-top: 200px;
}

.footer2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 150px 130px 150px;
}

.star {
    width: 20px;
    height: 20px;
}

.five {
    margin-bottom: 10px;
    margin-top: 30px;
    /* margin-left: 600px; */
}

.lekha {
    margin-top: 10px;
}

.asdf {
    display: flex;
}

.nd {
    margin-top: 8px;
}

.lekha,
.love,
.asdf {
    /* margin-left: 600px; */
}

.say {
    margin-top: 200px;
}

.box {
    border: none;
    border-radius: 14px;
    padding: 20px;
    margin-top: 50px;
    /* padding-left: 60px; */
    padding-right: 60px;
    background-color: #d0cffa;
}

.review {
    display: flex;
    justify-content: space-evenly;
}

.back {
    background-color: #ccccfd;
}